@model ffxivList.Models.AllUserCraft

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>AllUserCraft</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="AllUserCraftID" />
        <div class="form-group">
            <label asp-for="UserCraftID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UserCraftID" class="form-control" />
                <span asp-validation-for="UserCraftID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CraftID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CraftID" class="form-control" />
                <span asp-validation-for="CraftID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UserID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsComplete" />
                    <label asp-for="IsComplete"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CraftName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CraftName" class="form-control" />
                <span asp-validation-for="CraftName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CraftLevel" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CraftLevel" class="form-control" />
                <span asp-validation-for="CraftLevel" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
