@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>

<p>FFXIVList offers the possibility to track your in game progress for Final Fantasy XIV externally allowing for a better overview and faster searching capabilities.</p>
<p>As it is difficult to gauge how much you have done and how much is left, you can use FFXIVList to track your progress. </p>

<h4>Created by</h4>
<p>TBA</p>