@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>

<p>If you experience any problems or have advice, please drop me an issue on <a href="https://github.com/Cottonglow/FFXIV-List/issues">GitHub</a>!</p>
