@model ffxivList.Models.ModelContainer

@{
    ViewData["Title"] = "Quests";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Level
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Quest)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestLevel)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                {
                        @Html.DisplayFor(modelItem => Model.UserQuest.FirstOrDefault(l => l.QuestID == item.QuestID).IsComplete)
                    }
                </td>
            </tr>}
    </tbody>
</table>
