@model ffxivList.Models.Craft

@{
    ViewData["Title"] = "Delete Craft";
}

<h2>@ViewData["Title"]</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="CraftID" />
        <dt>
            Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CraftName)
        </dd>
        <dt>
            Level
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CraftLevel)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="IndexAdmin">Back to List</a>
        </div>
    </form>
</div>
