@model ffxivList.Models.ModelContainer

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Level
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Levemete) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LevemeteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LevemeteLevel)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.LevemeteID">Details</a>
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.DisplayFor(modelItem => Model.UserLevemete.FirstOrDefault(l => l.LevemeteID == item.LevemeteID).IsComplete)
                }
            </td>
        </tr>}
    </tbody>
</table>
