@model List<ffxivList.Models.Levemete>

<h2>Levemetes</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Level
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LevemeteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LevemeteLevel)
            </td>
        </tr>}
    </tbody>
</table>
