@model ffxivList.Models.AllUserLevemete

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>AllUserLevemete</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="UserLevemeteID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UserLevemeteID" class="form-control" />
                <span asp-validation-for="UserLevemeteID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LevemeteID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LevemeteID" class="form-control" />
                <span asp-validation-for="LevemeteID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UserID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsComplete" />
                    <label asp-for="IsComplete"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LevemeteName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LevemeteName" class="form-control" />
                <span asp-validation-for="LevemeteName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LevemeteLevel" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LevemeteLevel" class="form-control" />
                <span asp-validation-for="LevemeteLevel" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
